<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailDeleter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmailDeleter.Properties.Settings>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="IMAPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IMAPPort" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="LogonUsing" serializeAs="String">
                <value>Clear text authentication</value>
            </setting>
            <setting name="FromDate" serializeAs="String">
                <value>1753-01-01</value>
            </setting>
            <setting name="ToDate" serializeAs="String">
                <value>9998-12-31</value>
            </setting>
            <setting name="FromContains" serializeAs="String">
                <value />
            </setting>
            <setting name="ToContains" serializeAs="String">
                <value />
            </setting>
            <setting name="SubjectContains" serializeAs="String">
                <value />
            </setting>
            <setting name="BodyContains" serializeAs="String">
                <value />
            </setting>
        </EmailDeleter.Properties.Settings>
    </userSettings>
</configuration>